# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache files
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/

# Environment variables
.env

# Operating system files
.DS_Store
Thumbs.db

# Downloaded dataset
data/StudentsPerformance.csv
